test-harness/test-data/captured/*
test-harness/test-data/coverage/
test-harness/myinit
test-harness/initrd.gz
test-harness/initrd/
test-harness/my-kernel
test-harness/coverage.info
test-harness/coverage-html/
.kasan-cache/
.gcov-cache/

nat46/modules/.*
nat46/modules/nat46.mod*
nat46/modules/Module.symvers
nat46/modules/modules.order
nat46/modules/*.o
nat46/modules/*.ko
nat46/modules/*.gcda
nat46/modules/*.gcno
