on:
  - push
  - pull_request
  - workflow_dispatch

name: C/C++ CI prototype
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: build the NAT46 module
      run: |
        cd nat46/modules
        KCPPFLAGS='-DNAT46_VERSION=\"test\" -Werror' make
    - name: Install kvm
      run: |
        sudo apt-get update
        sudo apt-get install qemu-system-x86
    - name: Install and run test harness
      run: |
        cd test-harness
        ./run-test-harness


